<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Java TicTacToe</title>
</head>
<body>
    <link rel="stylesheet" href="style.css">

    <div class="wrapper">
        <div class="tictactoe-board">
            <div id="1" class="cell"></div>
            <div id="2" class="cell"></div>
            <div id="3" class="cell"></div>
            <div id="4" class="cell"></div>
            <div id="5" class="cell"></div>
            <div id="6" class="cell"></div>
            <div id="7" class="cell"></div>
            <div id="8" class="cell"></div>
            <div id="9" class="cell"></div>
        </div>
    </div>

    <script src="jquery-3.7.1.min.js"></script>
    <script src="script.js"></script>
</body>
</html>